@charset "utf-8";







/* CSS Document */























#navigation li #menulink_1 {







    background: none repeat scroll 0 0 transparent;







}















/* added on 28thJan 2011 to highlight the error message with red border */







#logibtn { background:url(../templates/camassistant/images/go.gif) no-repeat; height:30px; border:none; float:left; border:0px; padding:0px; margin:0px; cursor:pointer; }







#system-message{border:solid 1px red;}















/* end 28thJan 2011 */















Body{ padding:0px; margin:0px; font-family:Arial; color:#636363; font-size:12px; text-align:justify}















p, li, table, td, tr, ol, ul, li, o, h1, h2, h3, h4, h5, h6{ padding:0px; margin:0px;}















img{ border:0px;}







a{ outline:none;}







.clear{ clear:both;}















h1{      font-size:20px; font-weight:bold; color:#21314d; line-height:30px;}







/*AAAh1 span{ font-size:20px; font-weight:bold; color:#7ab800; line-height:30px;}*/

h1 span{ 	font-weight:bold; color:#7ab800; line-height:30px;}















h2{      font-size:18px; font-weight:bold; color:#21314d; line-height:30px;}







h2 span{ font-size:18px; font-weight:bold; color:#7ab800; line-height:30px;}















h3{      font-size:14px; font-weight:bold; color:#7ab800; line-height:25px;}







h3 span{ font-size:14px; font-weight:bold; color:#21314d; line-heig