* { list-style: none; margin: 0; outline: none; padding: 0; text-decoration: none; }

body { font: 14px "Open Sans", sans-serif; color: #2c384a; -webkit-font-smoothing: antialiased; text-shadow: 0 0 1px rgba(0, 0, 0, 0.01); }

img { height: auto; max-width: 100%; vertical-align: baseline; }

p { line-height: 25px; }

a { font-weight: 700; }
a:hover { color: #8dc63f; }

h1, h2, h3 { color: #2c384a; }

h2 { font-size: 22px; line-height: 113%; margin-bottom: 10px; }

h3 { font-size: 16px; line-height: 120%; margin-bottom: 10px; }

clear:after, .wrapper:after, header:after, .compliance-report-summary:after, .compliance-report-summary .compliance-overview .stats:after { clear: both; content: ""; display: table; }

box-sizing, .compliance-report-summary .disclaimer, .compliance-report-summary .compliance-overview .stats .number-of-vendors-in-compliance, #main .company .company-information, #main .company .company-compliances ul.compliance-category-column { box-sizing: border-box; }

fleft, header .logos, header .misc-logo-container, .compliance-report-summary .disclaimer, .compliance-report-summary .compliance-overview, .compliance-report-summary .compliance-overview .stats .chart, .compliance-report-summary .compliance-overview .stats .number-of-vendors-in-compliance, #main .company .company-information, #main .company .company-compliances, #main .company .company-compliances ul.compliance-category-column { float: left; }

fright { float: right; }

.wrapper { margin: 0 auto; width: 940px; padding: 0 10px; position: relative; }

header { background: url(../piechart_images/header-bg.jpg) no-repeat; border-bottom: 4px solid #8dc63f; color: #ffffff; padding: 60px 0; }
header .logos { width: 554px; }
header .logos .top-logo { margin-bottom: 10px; width: 262px; }
header .logos .bottom-logo { margin-bottom: 5px; width: 400px; }
header .logos .logo-slogan { color: #ffffff; }
header .misc-logo-container { width: 386px; text-align: center; }
header .misc-logo-container .misc-logo { float: right; }

.compliance-report-summary { background-color: #f5f5f5; padding: 50px 0; }
.compliance-report-summary .disclaimer { margin-right: 20px; padding-top: 30px; width: 376px; }
.compliance-report-summary .compliance-overview { width: 544px; }
.compliance-report-summary .compliance-overview .stats { position: relative; }
.compliance-report-summary .compliance-overview .stats .chart { /* Edit the css for the chart in piechart.css */ position: relative; z-index: 2; }
.compliance-report-summary .compliance-overview .stats .number-of-vendors-in-compliance { background-color: #e3e4e6; margin-left: -130px; margin-top: calc(260px/2 - 161px/2); padding: 30px 30px 30px 148px; position: relative; z-index: 1; }
.compliance-report-summary .compliance-overview .stats .number-of-vendors-in-compliance h3 { color: #2c384a; }
.compliance-report-summary .compliance-overview .stats .number-of-vendors-in-compliance .number-compliants > span, .compliance-report-summary .compliance-overview .stats .number-of-vendors-in-compliance .number-non-compliants > span { border: 2px solid #ffffff; border-radius: 3px; display: inline-block; height: 15px; vertical-align: bottom; width: 15px; }
.compliance-report-summary .compliance-overview .stats .number-of-vendors-in-compliance .number-compliants { margin-bottom: 5px; }
.compliance-report-summary .compliance-overview .stats .number-of-vendors-in-compliance .number-compliants > span { background-color: #8dc63f; }
.compliance-report-summary .compliance-overview .stats .number-of-vendors-in-compliance .number-non-compliants { margin-bottom: 10px; }
.compliance-report-summary .compliance-overview .stats .number-of-vendors-in-compliance .number-non-compliants > span { background-color: #f00; }

#main h2.vender-category-title { font-size: 30px; padding-top: 30px; text-align: center; }
#main .company { padding: 60px 0; }
#main .company:nth-of-type(odd) { background-color: #ffffff; }
#main .company:nth-of-type(even) { background-color: #f5f5f5; }
#main .company .company-information { padding-right: 10px; width: 25%; }
#main .company .company-information ul li { margin-bottom: 32px; min-height: 51px; }
#main .company .company-information ul li:last-child { margin-bottom: 0; }
#main .company .company-information .company-compliance-status .company-name { display: block; font-size: 20px; font-weight: 700; margin-bottom: 5px; }
#main .company .company-information .company-compliance-status .company-name + span { margin-bottom: 5px; }
#main .company .company-information .company-compliance-status .in-compliance, #main .company .company-information .company-compliance-status .not-in-compliance { font-size: 16px; font-weight: 700; display: none; }
#main .company .company-information .company-compliance-status .in-compliance:before, #main .company .company-information .company-compliance-status .not-in-compliance:before { border-radius: 50%; content: ""; display: inline-block; height: 25px; margin-right: 10px; vertical-align: middle; width: 25px; }
#main .company .company-information .company-compliance-status .in-compliance.current, #main .company .company-information .company-compliance-status .not-in-compliance.current { display: block; }
#main .company .company-information .company-compliance-status .in-compliance { color: #8dc63f; }
#main .company .company-information .company-compliance-status .in-compliance:before { background: #8dc63f url(../piechart_images/compliance-verified-icon.svg) 0 0 no-repeat; }
#main .company .company-information .company-compliance-status .not-in-compliance { color: #f00; }
#main .company .company-information .company-compliance-status .not-in-compliance:before { background: #f00 url(../piechart_images/compliance-failed-icon.svg) 0 0 no-repeat; }
#main .company .company-information .company-address, #main .company .company-information .company-contact { font-size: 12px; }
#main .company .company-compliances { width: 75%; }
#main .company .company-compliances ul.compliance-category-column { padding-right: 10px; width: 33.3333333%; }
#main .company .company-compliances ul.compliance-category-column:last-child { margin-right: 0; }
#main .company .company-compliances ul.compliance-category-column li.compliance { margin-bottom: 40px; }
#main .company .company-compliances ul.compliance-category-column li.compliance:last-child { margin-bottom: 0; }
#main .company .company-compliances ul.compliance-category-column li.compliance .icon { background-color: #a6a6a6; border-radius: 50%; display: inline-block; height: 50px; text-indent: -9999px; vertical-align: middle; width: 50px; }
#main .company .company-compliances ul.compliance-category-column li.compliance.passed .icon { background: url(../piechart_images/compliance-passed-icon.svg) 0 0 no-repeat; }
#main .company .company-compliances ul.compliance-category-column li.compliance.unknown .icon { background: url(../piechart_images/compliance-unknown-icon.svg) 0 0 no-repeat; }
#main .company .company-compliances ul.compliance-category-column li.compliance.failed .icon { background: #f00 url(../piechart_images/compliance-failed-icon.svg) 0 0 no-repeat; }
#main .company .company-compliances ul.compliance-category-column li.compliance.failed .compliance-category { color: #f00; }
#main .company .company-compliances ul.compliance-category-column li.compliance[data-compliance="compliant"] .icon { background: #8dc63f url(../piechart_images/compliant-icon.svg) 0 0 no-repeat; }
#main .company .company-compliances ul.compliance-category-column li.compliance[data-compliance="compliant"] .compliance-category { color: #8dc63f; }
#main .company .company-compliances ul.compliance-category-column li.compliance[data-compliance="non-compliant"] .icon { background: #f00 url(../piechart_images/non-compliant-icon.svg) 0 0 no-repeat; }
#main .company .company-compliances ul.compliance-category-column li.compliance[data-compliance="non-compliant"] .compliance-category { color: #f00; }
#main .company .company-compliances ul.compliance-category-column li.compliance .compliance-category { color: #636363; display: inline-block; font-size: 16px; padding-left: 6px; vertical-align: middle; }
#main .company .company-compliances ul.compliance-category-column li.compliance .compliance-category .compliance-category-title { display: block; font-weight: 700; }
#main .company .company-compliances ul.compliance-category-column li.compliance .compliance-category .compliance-date { display: block; }
.noncurrent {
  background: rgba(0, 0, 0, 0) url(../piechart_images/compliance-failed-icon.svg) no-repeat scroll 0 0;
  color: #ff0000;
  display: block;
  font-size: 18px;
  padding-left: 29px;
}
/*# sourceMappingURL=style.css.map */