div.current{
	width:98% !important;
}

div.current input, .width-100 input {
	float:none !important;
}

div.current label, .width-100 label {
	float:none !important;
	display:inline !important;
}

div.rsfirewall_tooltip p {
	margin: 0;
}