@charset "utf-8";

/* CSS Document */

/* added on 28thJan 2011 to highlight the error message with red border */

#system-message{border:solid 1px red; padding:5px 0px;}
#system-message ul{list-style:none;}
/* end 28thJan 2011 */


Body{ padding:0px; margin:0px; font-family:Arial; color:#636363; font-size:12px; text-align:justify;}

/*.tool-tip {  color: #000; width: 130px; z-index: 13000; text-align:left; }































































































































































































































































.tool-title {  font-weight: bold; font-size: 11px;  margin: 0;  color: #FFFFFF; padding: 8px 8px 4px; background: #7AB800;  border-bottom: 1px solid #B5CF74;}































































































































































































































































.tool-text {  font-size: 11px; padding: 4px 8px 8px;   background: #CFDFA7;}*/































































































































































































































































































































































































































































































































tool-tip {  color: #000; width: 100px; z-index: 13000; text-align:left; border: solid 1px #a7a7a7; }































































































































































































































































.tool-title {  font-weight: bold; font-size: 11px;  margin: 0;  color: #000000; padding: 8px 8px 4px; background: #fecb00;  border-bottom: 1px solid #B5CF74;}































































































































































































































































.tool-text {  font-size: 11px; padding: 4px 8px 8px;   background: #f7f7f7;}































































































































































































































































































































































































































































































































.custom2-tip {color: #000; width: 130px; z-index: 13000;  text-align:left; }





.alink0215215{float:left; padding:39px 0 0 10px;}
.alink0215215 a{ text-decoration:none; color:#7AB800; font-weight:bold;}
.alink0215215 a:hover{ text-decoration:underline; color:#7AB800; font-weight:bold;}

.alink0215{float:left; padding:13px 0 0 10px;}
.alink0215 a{ text-decoration:none; color:#7AB800; font-weight:bold;}
.alink0215 a:hover{ text-decoration:underline; color:#7AB800; font-weight:bold;}


.alink0215dash {float: left;margin-top: 15px;padding: 0 0 0 7px;}
.alink0215dash a{ text-decoration:none; color:#7AB800; font-weight:bold;}
.alink0215dash a:hover{ text-decoration